<%= simple_form_for @resume do |f| %>

<% if @resume.errors.any? %>
<ul>
  <% @resume.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div class="form-group">
  <div class="form-group">
    <%= f.label :post_id %>
    <%= f.select :post_id,  Post.all.map{ |c| [c.name, c.id]}, {}, :class => "form-control",  :prompt => '选择申报岗位' %>
  </div>
  <%= f.input :name, input_html: { class: "form-control"} %>

  <% Resume::GENDER.each do |gender| %>
    <label>
      <%= f.radio_button :gender, gender %>
      <%= t(gender, :scope => "resume.gender") %>
    </label>
  <% end %>
  <%= f.input :age, input_html: { class: "form-control"} %>
  <div class="form-group">
    <%= f.label :datebirth %>
    <%= f.text_field :datebirth, :class => "form-control" %>
  </div>
  <hr>
  <%= f.label :educationfirst %>
  <%= f.select :educationfirst, Resume::EDUCATION.map{ |s| [t(s, :scope => "resume.educationfirst"),s] }, {}, :class => "form-control" %>
  <%= f.label :degreefirst %>
  <%= f.select :degreefirst, Resume::DEGREE.map{ |s| [t(s, :scope => "resume.degreefirst"),s] }, {}, :class => "form-control" %>
  <%= f.input :schoolfirst, input_html: { class: "form-control"} %>
  <%= f.input :majorfirst, input_html: { class: "form-control"} %>
  <hr>
  <%= f.label :educationlast %>
  <%= f.select :educationlast, Resume::EDUCATION.map{ |s| [t(s, :scope => "resume.educationlast"),s] }, {}, :class => "form-control" %>
  <%= f.label :degreelast %>
  <%= f.select :degreelast, Resume::DEGREE.map{ |s| [t(s, :scope => "resume.degreelast"),s] }, {}, :class => "form-control" %>
  <%= f.input :schoollast, input_html: { class: "form-control"} %>
  <%= f.input :majorlast, input_html: { class: "form-control"} %>
  <hr>
  <%= f.input :phonenumber, input_html: { class: "form-control"} %>
  <%= f.input :attachment, input_html: { class: "form-control"} %>
</div>
<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>


<script>
  $("#resume_datebirth").datepicker({
    format: "yyyy-mm-dd",
    language: "<%= I18n.locale %>",
    todayHighlight: true,
    autoclose: true
});
</script>
